.createCV__button,
.printDocument__button {
  width: 47%;
  height: 4.7vh;
  border-radius: 50px;
  background-color: #780707;
  color: rgba(255, 255, 255, 0.9);
  text-align: center;
  font-weight: 400;
  font-size: 1rem;
  padding: 0.2rem;
  cursor: pointer;
  transition: 0.5s ease-in-out;
  @include repsond(s-phone) {
    height: 2.7rem;
    padding: 0.5rem;
    font-size: 1.05rem;
    font-weight: 400;
  }
}
.createCV__button {
  animation: appear 3s ease-in;
  @include repsond(s-phone) {
    margin-bottom: 1rem;
  }
}
.printDocument__button {
  background-color: rgba(120, 7, 7, 0.7);
  margin-left: 1.5rem;
  animation: appear 3.3s ease-in;
  @include repsond(s-phone) {
    margin-left: 2rem;
  }
}
.createCV__button:hover,
.printDocument__button:hover {
  height: 5.3vh;
  transform: translateY(-0.4rem);
}

@keyframes appear {
  0% {
    opacity: 0;
    transform: scale(0.87);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
// contact page buttons
input,
.contact__button {
  width: 65%;
  height: 6vh;
  border: 0.5px solid rgba(0, 0, 0, 0.15);
  padding: 0.4rem;
  //  box-shadow: -4px 4px 10px rgba(0, 0, 0, 0.2), 4px 0px 15px rgba(0, 0, 0, 0.2);
  border-radius: 2px;
  font-weight: 500;
  font-family: poppins, sans-serif;
  @include repsond(s-phone) {
    width: 100%;
  }
}

.contact__button {
  margin-top: 1rem;
  background-color: #780707;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  cursor: pointer;
}
// the create a cv buttons
.createCV,
.schools,
.workExperience {
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  padding: 5rem 2rem;
  flex-direction: column;
  align-items: center;
  &__btn {
    width: 20%;
    height: 3rem;
    background-color: #780707;
    color: white;
    border-radius: 50px;
    text-align: center;
    padding: 0.6rem 0;
    cursor: pointer;
    margin-left: 32rem;
  }
}
.cancel {
  color: #666;
  margin-top: 3rem;
  border-bottom: 2px solid #666;
  width: 3.5rem;
  cursor: pointer;
}
.nextBtn,
.doneBtn {
  margin: 3rem 0 0 16rem;
  width: 4rem;
  height: 2rem;
  background-color: #780707;
  text-align: center;
  color: white;
  padding: 0.26rem;
  border-radius: 5px;
  cursor: pointer;
  font-size: 0.9rem;
}
.doneBtn {
  margin-top: 19rem;
}
#sendBtn {
  color: white;
  background-color: #780707;
  border: none;
  width: 65%;
  height: 2rem;
  @include repsond(s-phone) {
    width: 100%;
    height: 2.5rem;
  }
}
