.services {
  width: 100%;
  height: 120vh;
  background-image: url("/Images/bg.jpg");
  position: relative;
  padding-top: 7rem;
  @include repsond(tab-land) {
    width: 100%;
    height: 100vh;
  }
  @include repsond(tab-port) {
    height: 50vh;
    padding-top: 0;
  }
  @include repsond(x-phone) {
    height: 170vh;
    padding-top: 2rem;
  }
  @include repsond(m-phone) {
    height: 165vh;
    padding-top: 2rem;
  }
  @include repsond(s-phone) {
    height: 140vh;
    padding-top: 2rem;
  }

  &__heading {
    margin: 0 30% 0 50%;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.45);
    font-weight: 500;
    @include repsond(tab-land) {
      font-size: 1.3rem;
      font-weight: 500;
      margin: 0 30% 7% 50%;
    }
    @include repsond(tab-port) {
      display: none;
    }
    @include repsond(x-phone) {
      margin: 0;
      display: none;
    }
    @include repsond(m-phone) {
      display: none;
      margin: 0;
    }
    @include repsond(s-phone) {
      margin: 0;
      visibility: none;
      display: none;
    }
  }
  &__cards {
    display: flex;
    margin: 10rem 3rem 0 7rem;
    @include repsond(tab-land) {
      flex-direction: row;
      margin: 1rem 3rem 2rem 5rem;
    }
    @include repsond(tab-port) {
      flex-direction: row;
      margin: 1rem 3rem 2rem 5rem;
    }
    @include repsond(x-phone) {
      flex-direction: column;
    }
    @include repsond(m-phone) {
      flex-direction: column;
    }
    @include repsond(s-phone) {
      flex-direction: column;
    }
  }
}
.card {
  width: 25%;
  height: 57vh;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 4px 26px rgba(0, 0, 0, 0.11);
  border: 1px solid rgba(0, 0, 0, 0.09);
  padding: 1rem;
  padding-top: 2.6rem;
  margin-left: 1rem;
  @include repsond(tab-land) {
    width: 40%;
    height: 55vh;
    padding: 1rem;
    margin: 0 1rem 2rem 0;
  }
  @include repsond(tab-port) {
    width: 38%;
    height: 57vh;
    margin: 0 1rem 2rem 0rem;
    padding-top: 1rem;
  }
  @include repsond(x-phone) {
    width: 78%;
    height: 55vh;
    margin: 0 0 1rem 5rem;
  }
  @include repsond(m-phone) {
    width: 76%;
    height: 45vh;
    margin: 0 0 1rem 4rem;
  }
  @include repsond(s-phone) {
    width: 85%;
    height: 40vh;
    margin: 0 0 1rem 1.3rem;
    box-shadow: none;
    border: 1px solid rgba(0, 0, 0, 0.11);
  }

  &__title {
    margin-left: 3.5rem;
    color: rgba(0, 0, 0, 1);
    font-weight: 600;
    margin-bottom: 1.4rem;
    @include repsond(tab-land) {
      font-size: 1.3rem;
      margin: 0 0 1.1rem 7rem;
    }
    @include repsond(tab-port) {
      font-size: 1.3rem;
      margin: 0 0 1.1rem 3.4rem;
    }
    @include repsond(x-phone) {
      font-size: 1.7rem;
      margin: 0 0 1.1rem 14rem;
    }
    @include repsond(m-phone) {
      font-size: 1.5rem;
      margin: 0 0 1.1rem 9.3rem;
    }
    @include repsond(s-phone) {
      margin: 0 0 1.1rem 8.5rem;
      font-size: 1.2rem;
    }
  }
  &__title:not(:last-child) {
    margin-right: 1.8rem;
  }
  &__description {
    color: #666;
    font-size: 0.9rem;
    text-align: center;
    @include repsond(tab-land) {
      font-size: 1.2rem;
    }
    @include repsond(tab-port) {
      font-size: 1.2rem;
    }
    @include repsond(x-phone) {
      font-size: 1.3rem;
    }
    @include repsond(m-phone) {
      font-size: 1.1rem;
    }
    @include repsond(s-phone) {
      font-size: 1rem;
    }
  }
}
.card:not(:last-child) {
  margin-right: 5rem;
  @include repsond(tab-port) {
    margin-right: 2rem;
  }
}
.card__icon {
  background-color: rgba(120, 7, 7, 0.2);
  width: 6.5rem;
  height: 6.5rem;
  margin: 0 auto;
  border-radius: 50px;
  margin-bottom: 1.2rem;
  @include repsond(tab-land) {
    width: 10rem;
    height: 10rem;
  }
  @include repsond(tab-port) {
    width: 10rem;
    height: 10rem;
  }
  @include repsond(x-phone) {
    width: 9rem;
    height: 9rem;
  }
  @include repsond(m-phone) {
    width: 8.2rem;
    height: 8.2rem;
  }
  @include repsond(s-phone) {
    width: 8rem;
    height: 8rem;
  }
}
#globe {
  margin-left: 1.8rem;
  @include repsond(tab-land) {
    margin-top: 2.7rem;
    margin-left: 2.9rem;
  }
  @include repsond(tab-port) {
    margin-top: 2.7rem;
    margin-left: 2.9rem;
  }

  @include repsond(x-phone) {
    margin: 2.2rem 0 0 2.5rem;
  }
  @include repsond(m-phone) {
    //margin: 2rem 0 0 2rem;
    margin-top: 2.4rem;
    margin-left: 2.55rem;
  }
  @include repsond(s-phone) {
    // margin: 2rem 0 0 1.9rem;
    margin-top: 2.3rem;
    margin-left: 2.45rem;
  }
}
.icon {
  width: 3rem;
  height: 3rem;
  fill: #666;
  margin: 1.5rem 1.4rem 0 1.7rem;
  @include repsond(tab-land) {
    width: 4.1rem;
    height: 4.1rem;
    margin-top: 2.7rem;
    margin-left: 2.9rem;
  }
  @include repsond(tab-port) {
    width: 4.1rem;
    height: 4.1rem;
    margin-top: 2.7rem;
    margin-left: 2.9rem;
  }
  @include repsond(x-phone) {
    width: 4rem;
    height: 4rem;
    margin-top: 2.4rem;
    margin-left: 2.4rem;
  }
  @include repsond(m-phone) {
    width: 3rem;
    height: 3rem;
    margin-top: 2.4rem;
    margin-left: 2.55rem;
  }
  @include repsond(s-phone) {
    margin-top: 2.3rem;
    margin-left: 2.45rem;
  }
}
#print {
  margin-left: 4.6rem;
  @include repsond(tab-land) {
    margin-left: 38%;
  }
  @include repsond(tab-port) {
    margin-left: 35%;
  }
  @include repsond(x-phone) {
    margin-left: 41%;
  }
  @include repsond(m-phone) {
    margin-left: 40%;
  }
  @include repsond(s-phone) {
    margin-left: 40%;
  }
}
#copy {
  margin-left: 3.5rem;
  @include repsond(tab-land) {
    margin-left: 29%;
  }
  @include repsond(tab-port) {
    margin-left: 25%;
  }
  @include repsond(x-phone) {
    margin-left: 37%;
  }
  @include repsond(m-phone) {
    margin-left: 35%;
  }
  @include repsond(s-phone) {
    margin-left: 35%;
  }
}
