.emailAddress {
  margin-top: 1rem;
  width: 60%;
  margin-bottom: 1rem;
}
.progress {
  width: 100%;
  height: 100vh;
  padding: 5rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  @include repsond(s-phone) {
    width: 100%;
    height: 90vh;
    padding: 15rem 0 0 0;
  }
}
.progressBar {
  display: flex;
  justify-content: space-between;
  width: 60%;
  height: 3rem;
  margin: 0 0 5rem 17rem;
  @include repsond(s-phone) {
    margin: 0 0 3rem 1rem;
    width: 85%;
  }
  &__education,
  &__work,
  &__personal {
    display: flex;
    flex-direction: column;
    align-items: center;
    @include repsond(s-phone) {
      align-items: center;
    }
  }
}
.personal,
.education,
.work {
  width: 1rem;
  height: 1rem;
  border: 0.8px solid rgba(0, 0, 0, 0.15);
  border-radius: 50px;
  color: #666;
  background-color: white;
  @include repsond(s-phone) {
    width: 1.5rem;
    height: 1.5rem;
    position: relative;
  }
}
.personal::after {
  content: "";
  display: block;
  width: 17.8rem;
  height: 0.1rem;
  background-color: #666;
  margin: 0.3rem 0 0 0.9rem;
  @include repsond(s-phone) {
    width: 13rem;
    margin: 0.6rem 0 0 1.3rem;
  }
}
.education::after {
  content: "";
  display: block;
  width: 18rem;
  height: 0.1rem;
  background-color: #666;
  margin: 0.3rem 0 0 0.9rem;
  @include repsond(s-phone) {
    width: 9.8rem;
    margin: 0.6rem 0 0 1.3rem;
  }
}
//personal details page
.createCV {
  width: 100%;
  height: 100vh;
}
.Personal,
.High__school {
  width: 90%;
  height: 70vh;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  background-color: white;
  margin-left: 9rem;
  @include repsond(s-phone) {
    flex-direction: column;
    width: 100%;
    height: 90vh;
    margin-left: 3rem;
  }
}
.createPersonal,
.createSchool {
  @include repsond(s-phone) {
    width: 100%;
    height: 100vh;
  }
  &__left {
    flex: 0 0 50%;
    background-color: white;
    display: flex;
    flex-direction: column;
    height: inherit;
    @include repsond(s-phone) {
      width: 85%;
      background-color: lightgreen;
      flex: 0 0 40%;
    }
  }
  &__right {
    flex: 1;
    background-color: #ffff;
    height: inherit;
  }
}
.personalName,
.createPersonal__surname,
.languages,
.schoolName,
.mySkills {
  width: 60%;
  height: 2.4rem;
  margin-bottom: 1rem;
  @include repsond(s-phone) {
    margin-bottom: 0.5rem;
    width: 70%;
  }
}

.cellphone__text,
.id__text,
.address__text,
.dateOfBirth,
.languages__heading,
.marriage__text {
  color: #666;
  font-family: poppins, sans-serif;
  font-weight: 300;
}
.date {
  width: 33%;
  @include repsond(s-phone) {
    width: 50%;
  }
}
.cellphone,
.ID {
  width: 100%;
  height: 2.4rem;
  display: flex;
  margin-bottom: 1rem;
  @include repsond(s-phone) {
    margin-bottom: 0.5rem;
  }
}
[class^="box"] {
  width: 5%;
  height: 2.4rem;
  background-color: white;
  border: 0.8px solid rgba(0, 0, 0, 0.15);
  border-radius: 3px;
  text-align: center;
  @include repsond(s-phone) {
    width: 4.5%;
  }
}

[class^="box"]:not(:last-child) {
  margin-right: 0.1rem;
}
.postaddress {
  width: 60%;
  height: 8rem;
  resize: none;
  border: 0.8px solid rgba(0, 0, 0, 0.15);
  @include repsond(s-phone) {
    height: 4rem;
  }
}
.postaddress :active,
.postaddress:focus,
.postaddress2:active,
.postaddress3:active,
.postaddress2:focus,
.postaddress3:focus,
.pastWorkExperience:active,
.pastWorkExperience:focus {
  outline: none;
  border: 0.8px solid rgba(0, 0, 0, 0.4);
}

.marriage__text,
.driving__text,
.certificate__text {
  margin-right: 2rem;
  @include repsond(s-phone) {
    margin-right: 1rem;
  }
}
.marriage,
.driving,
.certificate {
  width: 100%;
  display: flex;
  color: rgba(0, 0, 0, 0.5);
  font-weight: 500;
}
.driving {
  margin-bottom: 1rem;
  @include repsond(s-phone) {
    margin-bottom: 0.5rem;
  }
}
.single,
.married,
.yes,
.no,
.yess,
.noo {
  width: 1.5rem;
  height: 1.5rem;
  margin: 0 0.1rem 1rem 1rem;
  @include repsond(s-phone) {
    width: 1.3rem;
    height: 1.3rem;
    margin: 0 0.1rem 0.5rem 0.5rem;
  }
}
.postaAddress {
  width: 60%;
  font-family: poppins, sans-serif;
  resize: none;
}
.postaddress2,
.postaddress3,
.pastWorkExperience {
  width: 60%;
  font-family: poppins, sans-serif;
  margin-bottom: 1rem;
  font-weight: 500;
  padding: 0.7rem;
  resize: none;
  border: 0.8px solid rgba(0, 0, 0, 0.15);
  @include repsond(s-phone) {
    height: 7.5rem;
  }
}

.qualification {
  width: 60%;
  border: 0.8px solid rgba(0, 0, 0, 0.15);
}
.second {
  margin-top: 8rem;
}
.donePage {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: poppins, sans-serif;
}
.wellDone {
  color: rgba(0, 0, 0, 0.35);
}
.checkmark {
  width: 10rem;
  height: 10rem;
  margin-bottom: 2rem;
}
.sentance {
  font-weight: 700;
  color: rgba(0, 0, 0, 0.9);
  font-family: poppins, sans-serif;
}

.pastWork {
  margin: 1rem 0 0 10rem;
  display: flex;
  &__left {
    flex: 0 0 50%;
  }
  &__right {
    flex: 1;
  }
}
.printer {
  display: none;
}
.progress {
  display: none;
}
.createCV {
  display: none;
}
.schools {
  display: none;
}
.workExperience {
  display: none;
}
.donePage {
  display: none;
}
a {
  text-decoration: none;
  color: rgba(0, 0, 0, 1);
}
