.homepage {
  max-width: 100%;
  height: 92vh;
  display: flex;
  position: relative;
  @include repsond(tab-port) {
    width: 100%;
  }
  @include repsond(x-phone) {
    width: 100%;
  }
  @include repsond(m-phone) {
    width: 100%;
  }
  @include repsond(s-phone) {
    width: 100%;
  }
  &__text {
    flex: 0 0 50%;
    width: 100%;
    height: 93vh;
    color: #666;
    padding: 18rem 0 0 6rem;
    @include repsond(tab-port) {
      font-size: 1.1rem;
      flex: 0 0 50%;
    }
    @include repsond(x-phone) {
      flex: 0 0 75%;
      font-size: 1.1rem;
    }
    @include repsond(m-phone) {
      flex: 0 0 85%;
      font-size: 1.05rem;
    }
    @include repsond(s-phone) {
      flex: 0 0 85%;
      padding: 15rem 0 0 5rem;
      font-size: 0.9rem;
    }

    &--main {
      font-size: 3.5rem;
      font-weight: 500;
      color: #000;
      animation: moveIn 2s ease-in;
      @include repsond(tab-port) {
        font-size: 3.3rem;
      }
      @include repsond(x-phone) {
        font-size: 3.5rem;
      }
      @include repsond(m-phone) {
        font-size: 2.8rem;
      }
      @include repsond(s-phone) {
        font-size: 2.6rem;
      }
    }
    &--buttons {
      display: flex;
      width: 68%;
      margin-top: 1.3rem;
      @include repsond(tab-port) {
        width: 90%;
      }
      @include repsond(x-phone) {
        width: 80%;
      }
      @include repsond(m-phone) {
        width: 75%;
      }
      @include repsond(s-phone) {
        width: 80%;
        flex-direction: column;
      }
    }
  }
  &__image {
    //flex container with the image and an svg
    flex: 1;
    width: 100%;
    height: 93vh;
  }
}
.img {
  //This is the copying machine image
  width: 25rem;
  height: auto;
  margin: 12rem 0rem 1rem 9rem;
  z-index: 1;
  animation: dropdown 2s ease-in;
  @include repsond(tab-port) {
    width: 25rem;
    height: auto;
    margin: 13rem 0 1rem 5rem;
  }
  @include repsond(x-phone) {
    display: none;
    visibility: none;
  }
  @include repsond(m-phone) {
    display: none;
    visibility: none;
  }
  @include repsond(s-phone) {
    display: none;
    visibility: none;
  }
}

.svg {
  // this is a svg in the right bottom corner
  width: 33rem;
  height: auto;
  position: absolute;
  top: 62%;
  right: 0;
  z-index: 1;
  // @include repsond(tab-port) {
  //   top: 50%;
  // }
  // @include repsond(x-phone) {
  //   top: 62%;
  // }
  // @include repsond(m-phone) {
  //   top: 62%;
  // }
  // @include repsond(s-phone) {
  //   top: 62%;
  // }
}

span {
  color: rgba(120, 7, 7, 0.8);
}

@keyframes moveIn {
  0% {
    opacity: 0;
    transform: translateX(3rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes dropdown {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.heading {
  position: absolute;
  top: 7.5%;
  left: 50%;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.45);
  @include repsond(tab-port) {
    display: none;
  }
  @include repsond(x-phone) {
    display: none;
  }
  @include repsond(m-phone) {
    display: none;
  }
  @include repsond(s-phone) {
    display: none;
  }
}

//about section
.about {
  width: 100%;
  height: 100vh;
  padding: 10rem 3rem 0 3rem;
  display: flex;
  background-image: url("/Images/bg.jpg");
  position: relative;
  @include repsond(tab-port) {
    width: 100%;
    height: 85vh;
    flex-direction: column;
  }
  @include repsond(x-phone) {
    width: 100%;
    height: 65vh;
    flex-direction: column;
  }
  @include repsond(m-phone) {
    width: 100%;
    flex-direction: column;
    height: 60vh;
  }
  @include repsond(s-phone) {
    width: 100%;
    height: 73vh;
    flex-direction: column;
  }

  &__heading {
    flex: 0 0 50%;
    font-size: 3rem;
    padding: 8.8rem 15rem 0 2rem;
    font-weight: 500;
    line-height: 128.4%;
    @include repsond(tab-port) {
      font-size: 2rem;
      flex: 0 0 23%;
      padding: 1rem;
      text-align: center;
      margin-bottom: 1rem;
    }
    @include repsond(x-phone) {
      flex: 0 0 20%;
      font-size: 2.5rem;
      padding: 1rem;
      text-align: center;
      margin-bottom: 1.1rem;
    }
    @include repsond(m-phone) {
      flex: 0 0 20%;
      font-size: 2.2rem;
      padding: 1rem;
      text-align: center;
      margin-bottom: 1.1rem;
    }
    @include repsond(s-phone) {
      flex: 0 0 20%;
      font-size: 1.8rem;
      padding: 1rem;
      text-align: center;
    }
  }
  &__description {
    padding: 8.8rem 0 0 3.5rem;
    font-size: 1.1rem;
    @include repsond(tab-port) {
      font-size: 1.1rem;
      margin-left: 2rem;
      padding: 1rem;
      margin-left: 3rem;
      text-align: center;
    }
    @include repsond(x-phone) {
      padding: 1rem;
      margin-left: 3rem;
      font-size: 1.3rem;
    }
    @include repsond(m-phone) {
      padding: 1rem;
      margin-left: 1rem;
      font-size: 1.2rem;
    }
    @include repsond(s-phone) {
      padding: 1rem;
    }

    &--main {
      margin-bottom: 1.5rem;
      font-weight: medium;
      color: #666;
    }
    &--second {
      color: #666;
      font-weight: medium;
    }
  }
}
